.App {
  text-align: center;
}
body{
  background-color: skyblue;
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-size: 35px;

}
#titlelink{
  text-decoration: none;
  color: red;
  font-weight: bold;
  
}
#titlelink:hover{
color:lightgray
}
input{
  width:250px;
  height:30px;
  text-align: center;
}
h1{
  display: inline-block;
}
h2{
  font-size: 35px;
}
#name{
  margin-left: 50px;
}
#email{
  margin-left: 45px;
}
#password{
  margin-right: 40px;
}
button{
  width:230px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color:rgba(186, 124, 30, 0.283);
}
button:hover{
background-color: white;
}